/common/
/client/
/fml/
/patches/
*.py
*.pyc
*.cmd
*.properties
*.sh
*.jar
*.zip
*.lnk

/mcp/CHANGELOG
/mcp/*.bat
/mcp/*.sh
/mcp/bin/
/mcp/conf/
/mcp/docs/
/mcp/jars/
/mcp/lib/
/mcp/logs/
/mcp/reobf/
/mcp/runtime/
/mcp/temp/
/mcp/src/minecraft/*.cfg
/mcp/src/minecraft/*.info
/mcp/src/minecraft/*.png
/mcp/src/minecraft/*.properties
/mcp/src/minecraft/*.java
/mcp/src/minecraft/ibxm/
/mcp/src/minecraft/paulscode/
/mcp/src/minecraft/net/
/mcp/src/minecraft/cpw/

